extends layout

block content
  h1= title
  p Welcome to #{title}
  p gosigma testing..
  pre hello, world
  pre ----- modules01 ------
  pre #{modules01}
  pre ----- modules02 ------
  pre #{modules02}